@model List<Avaliacao3BimLP3.ViewModels.LojaViewModel>
@{
    ViewData["Title"] = "Lojas";
}

<h2>Lojas</h2>

@if(Model.Count == 0)
{
    <p>Não existe lojas cadastradas.</p>
} 
else
{
    @foreach(var loja in Model)
    {
        <h3>@loja.Nome</h3>
        <p>Id: @loja.Id</p>
        <p>Piso: @loja.Piso</p>
        <p>Nome: @loja.Nome</p>
        <p>Descricao: @loja.Desc</p>
        <p>Tipo: @loja.Tipo</p>
        <p>E-mail: @loja.Email</p>
    }
}
